<h1> TechnoWeather </h1>

<h3> Check Monthly Water Production </h3>

<div id="location"></div>

<ul class="col-lg-4" id="monthly-conditions">
	<li>MONTHLY AVERAGE TEMPERATURE (ºC): <%= @conditions.monthly_temp %></li>
	<li>MONTHLY AVERAGE HUMIDITY: <%= @conditions.monthly_humidity %></li>
	<li>WATER PRODUCTION: <%= (@conditions.monthly_water_production) %> L</li>
</ul>

<input id="pac-input" class="controls" type="text">