/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

h1, h3 {
	text-align: center;
	font-family: Courier New;
	color: #730B4F;
}

li {
	margin-left: 2rem;
}

#location {
	width: 100%;
	height: 52rem;
	position: absolute;
}

#pac-input {
	position: relative;
	background-color: #fff;
	font-family: Roboto;
	font-size: 2rem;
	font-weight: 300;
	margin-left: 90.5rem;
	padding-left: 7rem;
	border-radius: 2rem; 
	text-overflow: ellipsis;
}

input[name="InputIndex"] {
	margin-top: 20rem;
	width: 45.5rem;
}

input[name="InputShow"] {
	margin-top: 23rem;
	width: 45.5rem;
}

#pac-input:focus {
	border-color: #4d90fe;
}

#current_conditions {
	border-radius: 2rem;
	position: relative;
	background-color: #fff;
	margin-top: 25rem;
	margin-left: 90.5rem;
	padding: 4rem;
	padding-left: 7rem;
	font-family: Courier New;
	font-size: 2rem;
	color: #730B4F;
	width: 45.5rem;
}

#monthly-conditions {
	border-radius: 2rem;
	position: relative;
	background-color: #fff;
	margin-top: 28rem;
	margin-left: 90.5rem;
	padding: 4rem;
	padding-left: 7rem;
	font-family: Courier New;
	font-size: 2rem;
	color: #730B4F;
	width: 45.5rem;
}



