/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

#TechnoWeather {
	position: fixed;
	z-index: 1;
	left: -1rem;
	width: 50rem;
	height: 15rem;
}

#WU {
	position: fixed;
	z-index: 1;
	top: 2rem;
	right: 1rem;
	width: 12rem;
	height: 7rem;
}

ul {
	border-radius: 2rem;
	position: relative;
	background-color: #fff;
	margin-left: 91rem;
	padding: 3rem;
	font-family: Courier New;
	font-size: 2rem;
	width: 45rem;
    list-style-type: none;
    z-index: 0;
}

li {
	margin: 0.75rem;
	padding-left: 4rem;
	background-size: 2.5rem 2.5rem;
	background-repeat: no-repeat;
	background-position: left top;
}

#zone {
	background-image: url("https://cdn2.iconfinder.com/data/icons/vector-icon-bundle-1-1/1417/location-128.png");
}

#fahrenheit {
	background-image: url("https://cdn1.iconfinder.com/data/icons/weather-20/24/Fahrenheit-128.png");
}

#celsius {
	background-image: url("https://cdn1.iconfinder.com/data/icons/weather-20/24/Celsius-128.png");
}

#humidity {
	background-image: url("https://cdn4.iconfinder.com/data/icons/weather-25/128/Humidity-128x128-2.png");
}

#wind {
	background-image: url("https://cdn0.iconfinder.com/data/icons/good-weather-1/96/weather_icons-66-128.png");
	background-size: 3rem 4rem;
}

#water {
	background-image: url("https://cdn0.iconfinder.com/data/icons/thin-environment-ecology/24/thin-0741_water_pipe_drink-128.png");
}

#date {
	text-align: right;
}

#location {
	width: 100%;
	height: 64rem;
	position: absolute;
	z-index: 0;
}

#pac-input {
	position: relative;
	background-color: #fff;
	font-family: Roboto;
	font-size: 2rem;
	font-weight: 300;
	margin-left: 91rem;
	padding-left: 7rem;
	border-radius: 2rem; 
	text-overflow: ellipsis;
	width: 45rem;
}

input[name="InputDaily"] {
	margin-top: 25rem;
}

input[name="InputMonthly"] {
	margin-top: 25.5rem;
}

#pac-input:focus {
	border-color: #4d90fe;
}

#current_conditions {
	margin-top: 27rem;
}

#monthly-conditions {
	margin-top: 27.5rem;
}

.btnday {
	position: fixed;
	left: 1rem;
	bottom: 12rem;
	height: 5rem;
	width: 5rem;
	border-radius: 50%;
	text-decoration: none;
	background-color: #FF6E19;
	z-index: 1;
	
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;
	
	-webkit-box-shadow: 0rem 1rem 0rem #DD492C;
    -moz-box-shadow: 0rem 1rem 0rem #DD492C;
    box-shadow: 0rem 1rem 0rem #DD492C;
}

.btnmonth {
	position: fixed;
	left: 1rem;
	bottom: 5rem;
	height: 5rem;
	width: 5rem;
	border-radius: 50%;
	text-decoration: none;
	background-color: #FF6E19;
	z-index: 1;
	
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;
	
	-webkit-box-shadow: 0rem 1rem 0rem #DD492C;
    -moz-box-shadow: 0rem 1rem 0rem #DD492C;
    box-shadow: 0rem 1rem 0rem #DD492C;
}

.input-group {
	position: fixed;
	top: 21rem;
	font-family: Courier New;
	font-size: 2rem;
	border-radius: 2rem; 
	width: 21.5rem;
	height: 4rem;
}

.input-group-addon {
	border-radius: 2rem; 
	background-color: #fff;
}

.form-control {
	width: 15rem;
	height: 4rem;
	border-top-right-radius: 2rem;
	border-bottom-right-radius: 2rem;
	font-size: 2.5rem;
	background-color: #fff;
}

.month {
	right: 24rem;
}

.year {
	right: 0.5rem;
}
